<table class="table">
	<tr>
		<th>Product Code</th>
		<th>Name</th>
		<th>Details</th>
		<th>Price</th>
		<th>Description</th>
		<th>Tags</th>
	</tr>
	<% @products.each do |p| %>
	<tr>
		<td><%= p.product_code %></td>
		<td><%= p.product_code %></td>
		<td><%= p.product_code %></td>
		<td><%= p.product_code %></td>
		<td><%= p.product_code %></td>
	</tr>
  <% end %>
</table>
